body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.nav_color{
    background:radial-gradient(200px 150px, #38bac7, #324a56);
}

.cl_color{
    color:rgb(252, 253, 253);
}

.p_color{
    margin-top: 16px;
    font-size: 18px;
    color: rgb(243, 2, 2);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(72, 210, 189);
}

.pagination {

    text-align: center;

}

.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
}

.pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}
