{% extends 'base.html' %}

{% block title %}
Детальный просмотр
{% endblock %}

{% block content %}
    <h4>Детальный просмотр задачи</h4>
    <h5>Задача:</h5>
    {{ task.summary }}
    <h5>Подробное описание:</h5>
    {{ task.description }}
    <h5>Статус:</h5>
    <p>{{ task.status }}</p>

    {% if user.is_authenticated %}
    <a class="btn btn-secondary btn-sm ms-5" href="{% url 'task_update' task.pk  %}">Редактировать</a>
    <a class="btn btn-secondary btn-sm ms-5" href="{% url 'task_delete' task.pk  %}">Удалить</a>
    {% endif %}

{% endblock %}
    